body {
    font-family: Arial, sans-serif;
    background-image: url('imgs/stormseeker-rX12B5uX7QM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container styling */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

/* Form input */
input[type="time"] {
    text-align: center;
}

/* Button styles */
button {
    margin-top: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 10px;
    color: green;
}